p {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 50px;
  text-align: center;
}
.hello {
  font-family: "UnifrakturMaguntia", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 80px;
  text-align: center;
}
figcaption {
  padding: 10px 20px;
  font-size: 20px;
  font-style: italic;
  margin-top: 8px;    
}
figure {
  display: inline-block;  
  text-align: center;   
}
.whats-up {
  font-family: "Edu NSW ACT Cursive", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  font-size: 100px
}
.dkjk {
            /* Makes the image always take up exactly 80% of the screen width */
            width: 80vw; 
            
            /* Keeps the image aspect ratio perfect so it doesn't stretch or distort */
            height: auto; 
            
            /* Keeps the margin exactly proportional (e.g., 5% of the screen width) */
            margin: 5vw auto; 
            
            /* Ensures it centers nicely on the page */
            display: block; 
        }
